#
# DG Server configuration file
#
TIMESLICE              = 30		
MAXIMUM_ENTITIES       = 400
MAXIMUM_EMITTERS       = 100
MAXIMUM_LASERS         = 100
MAXIMUM_TRANSMITTERS   = 100
MAXIMUM_RECEIVERS      = 100
PDU_BUFFER_SIZE        = 5000
UDP_PORT               = 6994
START_GUI              = TRUE
GUI_PROGRAM_NAME       = /usr/ADIS/gui/xdgs/v1_2/XDG_Server
ERROR_LOG_ENABLED      = TRUE
