#
# Configuration file for Test_OSCF_PCD
#

# Parent ID

PARENT_SITE_ID        = 38
PARENT_APPLICATION_ID = 18
PARENT_ENTITY_ID      = 1

# Exercise parameters

EXERCISE_ID               = 11
CONTACT_THRESHOLD         = 10.0
DATABASE_ORIGIN_LATITUDE  = 35.26651944
DATABASE_ORIGIN_LONGITUDE = -122.0654833
DATABASE_ORIGIN_ALTITUDE  = 0.0
#DATABASE_ORIGIN_LATITUDE  = 35.9078129167
#DATABASE_ORIGIN_LONGITUDE = -121.337702778
#DATABASE_ORIGIN_ALTITUDE  = 0.0

# Default munition parameters (based on Sidewinder characteristics)

START_MUNITION_DATA = TRUE

KIND = MUNITION
DOMAIN = 0
COUNTRY = OTHER_COUNTRY
CATEGORY = 0
SUBCATEGORY = 0
SPECIFIC = 0
EXTRA = 0

FLY_OUT_MODEL_ID = FOM_AAM
#FLY_OUT_MODEL_ID = FOM_DRA_FPW
#FLY_OUT_MODEL_ID = FOM_KINEMATIC

DEAD_RECKONING = FPW

AZIMUTH_DETECTION_ANGLE = 60.0
ELEVATION_DETECTION_ANGLE = 35.0
G_GAIN = 0.005
MAX_GS = 20.0
#MAX_RANGE = 7000.0
MAX_RANGE = 15000.0
#RANGE_TO_DAMAGE = 24.39
RANGE_TO_DAMAGE = 54.39
#HARD_KILL = 15.244
HARD_KILL = 25.244
#HARD_KILL = 155.244
#HARD_KILL = 55.244
INITIAL_MASS = 86.0
FRONTAL_AREA = 0.01858
BURN_TIME = 3.0
BURN_RATE = 3.8
DRAG_COEFFICIENTS_1 = 0.07
DRAG_COEFFICIENTS_2 = 0.08
DRAG_COEFFICIENTS_3 = 0.10
DRAG_COEFFICIENTS_4 = 0.15
DRAG_COEFFICIENTS_5 = 0.13
DRAG_COEFFICIENTS_6 = 0.11
THRUST = 16900.0
GUIDANCE = PURSUIT 

#ILLUMINATION_FLAG = MUNITION
ILLUMINATION_FLAG = LASER

FUZE = CONTACT
WARHEAD = HIGH_EXPLOSIVE_FRAGMENTATION

END_MUNITION_DATA = TRUE

